<div class="sc-ihgokY fmDicb __pf __pf_EQyhoA-j" id="__pf"><div data-pf-type="Body" class="sc-lizKaK bzhAMP pf-3_"><div data-pf-type="Layout" class="sc-dycZeM juzezF pf-4_"><div data-section-id="pf-1f81" data-category="Sales Boost" data-name="Gentle" data-pf-type="Section" class="sc-fsvrPk eTuePL pf-19_ pf-color-scheme-1 pf-bg-lazy"><div class="sc-eNSrbD jPuwGZ"><div class="sc-hzhKNl fltMam pf-18_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-eoVZcn cepmFm pf-17_"><p class="sc-bJBfJu eVDjFe pf-7_ pf-text-1" data-pf-type="Paragraph"><span data-pf-type="Text" class="sc-bOQUxc quwHz pf-6_">Cyber Monday Sale 40%</span></p><h3 data-pf-type="Heading" class="sc-cVzzKN eMDdXJ pf-10_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-bOQUxc quwHz pf-9_">Gentleman</span></h3><h3 data-pf-type="Heading" class="sc-cVzzKN eMDdXJ pf-13_ pf-heading-1-h3"><span data-pf-type="Text" class="sc-bOQUxc quwHz pf-12_">Become the new gentleman the best deals for you. We have ready-to-wear and tailor-made products to your exact size</span></h3><a data-pf-type="Button" class="sc-kbovfZ KIYWl pf-16_ pf-button-1"><span data-pf-type="Text" class="sc-bOQUxc quwHz pf-15_">SHOP NOW</span></a></div></div></div></div></div></div></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"Untitled","pageType":"home","pageId":"ee471a27-eaa2-459e-b758-29d03cd95982","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"useThemeJQ":false,"sectionRootType":"Section","trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.20.4.2","shopDomain":"orangy-shop.myshopify.com","elementData":{},"shopifyProxyPath":"/apps/pagefly"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://orangy-shop.myshopify.com/admin/apps/pagefly/editor?id=ee471a27-eaa2-459e-b758-29d03cd95982&type=home)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}